body {
    font-size: 1vm;
    font-family: 'Amiri', serif;
    margin: 0;
    overflow: hidden;
}

fieldset {
    border-radius: 1em;
    width: max-content;
    font-family: sans-serif;
}

legend {
    font-weight: bold;
}

#mapid {
    height: 100vh;
    position: relative;
    width: 100vw;
    z-index: 0;
}

#searchBox {
    max-width: 300px;
}

#tool {
    background-image: linear-gradient(to bottom, #2D3047, #2D3047);
    color: whitesmoke;
    height: max-content;
    left: 0;
    opacity: .9;
    padding: 1rem;
    padding-left: 2em;
    padding-bottom: 2em;
    position: absolute;
    top: 0;
    width: max-content;
    z-index: 1;
}

.leaflet-control-zoom {
    display: none;
}